#include <dt-bindings/zmk/modifiers.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
            hold-trigger-on-release;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        lbrace {
            bindings = <&kp LBRC>;
            key-positions = <5 6>;
            layers = <1>;
        };

        rbrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <8 9>;
            layers = <1>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
            layers = <0>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <7 8>;
            layers = <0>;
        };

        up {
            bindings = <&kp UP>;
            key-positions = <7 17>;
            layers = <0>;
        };

        down {
            bindings = <&kp DOWN>;
            key-positions = <17 28>;
            layers = <0>;
        };

        left {
            bindings = <&kp LEFT>;
            key-positions = <17 16>;
            layers = <0>;
        };

        right {
            bindings = <&kp RIGHT>;
            key-positions = <17 18>;
            layers = <0>;
        };

        pgup {
            bindings = <&kp PG_UP>;
            key-positions = <8 9>;
            layers = <0>;
        };

        pgdn {
            bindings = <&kp PG_DN>;
            key-positions = <19 18>;
            layers = <0>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <29 30>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            layers = <0>;
        };

        capsw {
            bindings = <&caps_word>;
            key-positions = <21 22>;
            layers = <0>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <7 8 9>;
            layers = <0>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <17 18 19>;
            layers = <0>;
        };

        excl {
            bindings = <&kp EXCL>;
            key-positions = <0 10>;
            layers = <0>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <1 11>;
            layers = <0>;
        };

        pound {
            bindings = <&kp POUND>;
            key-positions = <2 12>;
            layers = <0>;
        };

        dllr {
            bindings = <&kp DLLR>;
            key-positions = <3 13>;
            layers = <0>;
        };

        prcnt {
            bindings = <&kp PRCNT>;
            key-positions = <4 14>;
            layers = <0>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <10 21>;
            layers = <0>;
        };

        amps {
            bindings = <&kp AMPS>;
            key-positions = <11 22>;
            layers = <0>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <23 12>;
            layers = <0>;
        };

        lpar {
            bindings = <&kp LPAR>;
            key-positions = <13 24>;
            layers = <0>;
        };

        rpar {
            bindings = <&kp RPAR>;
            key-positions = <25 14>;
            layers = <0>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <6 16>;
            layers = <0 1>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <7 17>;
            layers = <0 1>;
        };

        times {
            bindings = <&kp ASTERISK>;
            key-positions = <8 18>;
            layers = <0 1>;
        };

        devide {
            bindings = <&kp FSLH>;
            key-positions = <9 19>;
            layers = <0 1>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <16 27>;
            layers = <0 1>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <17 28>;
            layers = <0 1>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <18 29>;
            layers = <0 1>;
        };

        bslh {
            bindings = <&kp BSLH>;
            key-positions = <19 30>;
            layers = <0 1>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <5 15>;
            layers = <0 1>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <15 26>;
            layers = <0 1>;
        };

        mouse {
            bindings = <&tog 5>;
            key-positions = <15 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "base";
            bindings = <
       &kp Q            &kp W            &kp F                &kp P         &kp B          &kp J      &kp L            &kp U                 &kp Y             &kp SINGLE_QUOTE
       &hml LEFT_WIN A  &hml LEFT_ALT R  &hml LEFT_CONTROL S  &hml LSHFT T  &kp G          &kp M      &hmr RSHFT N     &hmr RIGHT_CONTROL E  &hmr RIGHT_ALT I  &hmr RIGHT_GUI O
&to 0  &kp Z            &kp X            &kp C                &kp D         &kp V          &kp K      &kp H            &kp COMMA             &kp PERIOD        &kp SLASH         &to 0
                                         &sk LCTRL            &lt 1 SPACE   &lt 2 ENTER    &sk LSHFT  &lt 3 BACKSPACE  &lt 4 ENTER
            >;
        };

        num {
            label = "num";
            bindings = <
        &none     &none     &none      &none      &none     &kp LBKT   &kp N7  &kp N8      &kp N9  &kp RBKT
        &sk LWIN  &sk LALT  &sk LCTRL  &sk LSHFT  &none     &kp SEMI   &kp N4  &kp N5      &kp N6  &kp EQUAL
&trans  &none     &none     &none      &tog 1     &none     &kp GRAVE  &kp N1  &kp N2      &kp N3  &kp BACKSLASH  &trans
                            &trans     &trans     &trans    &kp MINUS  &kp N0  &kp PERIOD
            >;
        };

        sym {
            label = "sym";
            bindings = <
        &none     &none     &none      &none      &none     &kp LBRC   &kp AMPS  &kp STAR   &kp LPAR   &kp RBRC
        &sk LWIN  &sk LALT  &sk LCTRL  &sk LSHFT  &none     &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &sk RGUI
&trans  &none     &none     &none      &tog 2     &none     &kp TILDE  &kp EXCL  &kp AT     &kp POUND  &kp PIPE  &trans
                            &trans     &trans     &trans    &kp UNDER  &kp LPAR  &kp RPAR
            >;
        };

        nav {
            label = "nav";
            bindings = <
        &kp LA(F4)    &kp LC(W)     &kp LA(LS(TAB))   &kp LA(TAB)     &none     &kp ESC   &mt LC(BACKSPACE) BACKSPACE  &mt LC(HOME) UP   &mt LC(DEL) DEL  &kp PG_UP
        &sk LEFT_GUI  &sk LEFT_ALT  &sk LEFT_CONTROL  &sk LEFT_SHIFT  &none     &kp TAB   &mt HOME LEFT                &mt LC(END) DOWN  &mt END RIGHT    &kp PG_DN
&trans  &none         &none         &none             &tog 3          &none     &kp CAPS  &kp LC(LS(TAB))              &kp LC(LS(TAB))   &kp LC(TAB)      &kp ENTER  &trans
                                    &trans            &trans          &trans    &trans    &trans                       &trans
            >;
        };

        fun {
            label = "fun";
            bindings = <
        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR        &kp PRINTSCREEN  &kp F7  &kp F8  &kp F9  &kp F12
        &sk LWIN      &sk LALT      &sk LCTRL     &sk LSHFT     &bt BT_CLR_ALL    &kp SCROLLLOCK   &kp F4  &kp F5  &kp F6  &kp F11
&trans  &none         &none         &none         &tog 4        &bootloader       &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                    &trans        &trans        &trans            &trans           &trans  &trans
            >;
        };

        mouse {
            label = "mouse";
            bindings = <
        &kp LA(F4)  &kp LC(W)  &kp LA(LS(TAB))  &kp LA(TAB)  &none     &kp ESC   &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &msc SCRL_UP
        &sk LWIN    &sk LALT   &sk LCTRL        &sk LSHIFT   &none     &kp TAB   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN
&trans  &none       &none      &none            &tog 5       &none     &kp CAPS  &mkp LCLK       &mkp MCLK       &mkp RCLK        &kp SCROLLLOCK  &trans
                               &trans           &trans       &trans    &trans    &trans          &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
