#include <behaviors/num_word.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
            hold-trigger-on-release;
        };

        smart_num: smart_num {
            compatible = "zmk,behavior-hold-tap";
            label = "SMART_NUM";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&mo>, <&num_word>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        plus {
            bindings = <&kp PLUS>;
            key-positions = <13 12>;
            layers = <4>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <23 24>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <12 24>;
            layers = <4>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <13 23>;
            layers = <4>;
        };

        lpar {
            bindings = <&kp LPAR>;
            key-positions = <11 10>;
        };

        lbracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <22 21>;
        };

        lbrace {
            bindings = <&kp LBRC>;
            key-positions = <1 0>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <6 7>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <8 9>;
        };

        rpar {
            bindings = <&kp RPAR>;
            key-positions = <13 14>;
        };

        rbracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <24 25>;
        };

        rbrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <3 4>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <23 22>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "base";
            bindings = <
       &kp Q            &kp W            &kp F                &kp P         &kp B        &kp J        &kp L           &kp U                 &kp Y             &kp SINGLE_QUOTE
       &hml LEFT_WIN A  &hml LEFT_ALT R  &hml LEFT_CONTROL S  &hml LSHFT T  &kp G        &kp M        &hmr RSHFT N    &hmr RIGHT_CONTROL E  &hmr RIGHT_ALT I  &hmr RIGHT_GUI O
&to 0  &kp Z            &kp X            &kp C                &kp D         &kp V        &kp K        &kp H           &kp COMMA             &kp DOT           &kp SLASH         &to 0
                                         &lt 3 ESCAPE         &lt 1 SPACE   &lt 2 TAB    &lt 5 ENTER  &smart_num 4 4  &lt 6 DELETE
            >;
        };

        nav {
            label = "nav";
            bindings = <
        &kp LA(F4)    &none         &kp LS(LA(TAB))   &kp LA(TAB)     &none        &kp PG_UP  &mt LC(BACKSPACE) BACKSPACE  &mt LC(HOME) UP   &mt LC(DEL) DEL  &kp BACKSPACE
        &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none        &kp PG_DN  &mt HOME LEFT                &mt LC(END) DOWN  &mt END RIGHT    &kp ENTER
&trans  &kp LC(Z)     &kp LC(X)     &kp LC(C)         &kp LC(V)       &kp LC(Y)    &kp INS    &kp LC(TAB)                  &none             &none            &none          &trans
                                    &none             &trans          &none        &kp ENTER  &kp BACKSPACE                &kp DELETE
            >;
        };

        mouse {
            label = "mouse";
            bindings = <
        &none         &none         &tog 5            &tog 2          &none     &none           &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &none
        &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none     &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT
&trans  &none         &none         &none             &none           &none     &none           &mkp LCLK       &mkp MCLK       &mkp RCLK        &none            &trans
                                    &none             &none           &trans    &msc SCRL_UP    &msc SCRL_DOWN  &none
            >;
        };

        media {
            label = "media";
            bindings = <
        &out OUT_TOG  &none         &tog 6            &tog 3          &bt BT_CLR_ALL    &none       &none             &kp C_VOLUME_UP    &none       &none
        &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &bt BT_CLR        &none       &kp C_PREVIOUS    &kp C_VOLUME_DOWN  &kp C_NEXT  &none
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3    &bt BT_SEL 4      &none       &none             &none              &none       &none  &trans
                                    &trans            &none           &none             &kp C_STOP  &kp C_PLAY_PAUSE  &kp C_MUTE
            >;
        };

        num {
            label = "num";
            bindings = <
        &kp LEFT_BRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET    &none  &tog 4          &tog 1            &none         &none
        &kp SEMICOLON     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL            &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_WIN
&trans  &kp GRAVE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSLASH        &none  &none           &none             &none         &none         &trans
                                        &kp PERIOD    &kp NUMBER_0  &kp MINUS            &none  &trans          &none
            >;
        };

        sym {
            label = "sym";
            bindings = <
        &kp LEFT_BRACE  &kp AMPERSAND    &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &none   &tog 5          &tog 2            &none         &none
        &kp COLON       &kp DOLLAR       &kp PERCENT           &kp LCTRL              &kp PLUS           &none   &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&trans  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN           &kp POUND              &kp PIPE           &none   &none           &none             &none         &none         &trans
                                         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE     &trans  &none           &none
            >;
        };

        fun {
            label = "FUN";
            bindings = <
        &kp F12  &kp F7  &kp F8      &kp F9     &kp PRINTSCREEN    &none  &tog 6          &tog 3            &none         &none
        &kp F11  &kp F4  &kp F5      &kp F6     &kp SCROLLLOCK     &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&trans  &kp F10  &kp F1  &kp F2      &kp F3     &kp PAUSE_BREAK    &none  &none           &none             &none         &none         &trans
                         &kp ESCAPE  &kp SPACE  &kp TAB            &none  &none           &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};

&num_word { continue-list = <BSPC DEL DOT COMMA PLUS MINUS STAR FSLH EQUAL>; };
